.pswp-gallery {
    margin: 3rem 0;
    .pswp-thumbnail {
        display: inline-block;
        @include MQ(max-width, M) {
            display: block;
            text-align: center;
        }
        height: 120px;
        margin: 0 10px 10px 0;
        cursor: pointer;
        img {
            max-width: 100%;
        }
    }
    .pswp__caption__center {
        text-align: center;
    }
}