.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	main {
		flex: 1 0 auto;
	}
	
	footer {
		.footer-links {
			margin-top: 20px;
			text-align: center;
			a:not(:last-child) {
				margin-right: 2rem;
			}
			.flat-icon {
				height: 2.3rem;
				opacity: 0.6;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

nav .active {
	@extend .purple;
}
