.project {
	
	.collapsible-header img {
		width: 2rem;
		font-size: 1.6rem;
		line-height: 3rem;
		display: block;
		float: left;
		text-align: center;
		margin-right: 1rem;
	}

	.collapsible-body {
		padding: 0;
		
		.collection .collection-item {
			padding: 10px 35px;
			color: $dark-primary-color !important;
			&:hover {
				color: color("purple", "lighten-2") !important;
			}
		}
	}
}