.all-projects {
	margin-bottom: 50px;
	.card {
		@include MQ(min-width, M) {
			height: 445px;
		}
		
		@include MQ(min-width, L) {
			height: 515px;
		}
		
		.card-image img {
			width: 100%;
			height: 200px;
			object-fit: cover;
			@include MQ(min-width, L) {
				height: 300px;
			}
		}
		
		.card-content .card-title {
			margin-bottom: 1rem;
			line-height: inherit;
			.line-clamp {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		
		.card-action {
			@include MQ(min-width, M) {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
}