$accent-color: color("amber", "base") !default;

.contact-form {
	.input-field {
		input, textarea {
			&:focus + label {
				color: $accent-color;
			}
			
			&:focus {
				border-bottom: 1px solid $accent-color;
				box-shadow: 0 1px 0 0 #000;
			}
		}
	}
	
	.btn {
		@extend .amber;
		&:hover {
			@extend .amber, .lighten-2;
		}
	}
}