$dark-primary-color: color("purple", "darkwn-2") !default;
$accent-color: color("amber", "base") !default;


.timeline {
	position: relative;
	padding: 2em 0;
	margin: 2em 0;
	
	@include MQ(max-width, L) {
		padding-bottom: 1em;
	}
	
	@include MQ(min-width, L) {
		margin: 3em 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 18px;
		height: 100%;
		width: 4px;
		@extend .grey, .lighten-1;
		
		@include MQ(min-width, M) {
			left: 23px;
		}
		
		@include MQ(min-width, L) {
			left: 50%;
			margin-left: -2px;
		}
	}
	
	.timeline-block {
		position: relative;
		margin: 2em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
		
		@include MQ(min-width, L) {
			margin: 4em 0;
		}
		
		.timeline-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-top: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 2rem;
				@include MQ(min-width, M) {
					width: 2.5rem;
				}
			}

			&.school {
				@extend  .blue, .darken-3;
			}

			&.work {
				@extend .red, .darken-3;
			}

			@include MQ(min-width, M) {
				width: 50px;
				height: 50px;
			}

			@include MQ(min-width, L) {
				width: 60px;
				height: 60px;
				left: 50%;
				margin-left: -30px;
			}
		}
		
		.timeline-content {
			.card {
				&:before {
					content: '';
					position: absolute;
					top: 14px;
					right: 100%;
					height: 0;
					width: 0;
					border: 7px solid transparent;
					border-right: 7px solid $dark-primary-color;

					@include MQ(min-width, M) {
						top: 18px;
					}

					@include MQ(min-width, L) {
						top: 24px;
						left: 100%;
						border-color: transparent;
						border-left-color: $dark-primary-color;
					}
				}

				.card-content .card-title {
					line-height: inherit;
					margin-bottom: 1rem;
				}

				.description .description-item {
					margin: 0.5rem 0;

					a {
						color: $accent-color;
						&:visited {
							color: $accent-color;
						}
						&:hover {
							color: color("amber", "lighten-3") !important;
						}
						&.morelink {
							text-decoration: none;
							outline: none;
						}
					}

					.morecontent span {
						display: none;
					}
				}
			}

			.date {
				padding-bottom: .8em;
				opacity: .7;

				@include MQ(min-width, L) {
					position: absolute;
					padding: .8em 0;
					left: 56%;
					top: 16px;
				}
			}
		}
		
		@include MQ(min-width, L) {
			&:nth-child(even) {
				.timeline-content {
					float: right;

					.card::before {
						left: auto;
						right: 100%;
						border-color: transparent;
						border-right-color: $dark-primary-color;
					}

					.date {
						left: auto;
						right: 56%;
					}
				}
			}
		}
	}
}

.skillset {
	position: relative;
	margin: 2rem 0;
	
	@include MQ(min-width, L) {
		margin: 3rem 0;
	}
	
	.skill-chart {
		margin-bottom: 2rem;
		@include MQ(min-width, L) {
			margin-bottom: 3rem; 
		}
		
		.skill-levels {
			display: flex;
			justify-content: space-between;
			margin-top: 7em;

			.pin {
				height: 10px;
				width: 10px;
				position: relative;
				border-radius: 100%;
				border: 1px solid $dark-primary-color;
				background: $dark-primary-color; 
				transition: all 0.4s ease-in-out;
				&::after {
					content: "";
					position: absolute;
					top: 9px;
					left: 3px;
					width: 2px;
					height: 28rem;
					@extend .grey, .lighten-1;
				}
				.rotated-label {
					@include prefix(transform, rotate(-45deg), webkit moz ms);
					@include prefix(transform-origin, left center, webkit moz ms);
					position: absolute;
					bottom: 1em;
				}
			}
		}

		.skill-values {
			padding-bottom: 1rem;
			.row {
				margin-bottom: 0.7rem;
				display: flex;
				align-items: center;
				.col {
					@include MQ(max-width, M) {
						margin-left: 0;
					}
					&.language {
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
					&.progress {
						margin: 0.6rem 0 0.6rem 0;
						height: 10px;
						@extend .purple, .lighten-4;
						
						.determinate {
							@extend .purple, .darken-2;
						}
					}
				}
			}
		}
	}
}