// breakpoints
   
$S:     320px;   
$M:     600px;     
$L:     992px;     


// media queries

@mixin MQ($width-type, $canvas) {
	@if $canvas == S {
		@media only screen and ($width-type: $S) { @content; } 
	}
	@else if $canvas == M {
		@media only screen and ($width-type: $M) { @content; } 
	}
	@else if $canvas == L {
		@media only screen and ($width-type: $L) { @content; } 
	}
}


// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}


// external materialize design
@import "~materialize-css/sass/materialize.scss";


// material purple palette colors

$dark-primary-color: color("purple", "darken-2") !default;
$primary-color: color("purple", "base") !default;
$light-primary-color: color("purple", "lighten-4") !default;
$text-color: color("white", "base") !default;
$accent-color: color("amber", "base") !default;
$primary-text-color: color("grey", "darken-4") !default;
$secondary-text-color: color("grey", "darken-1") !default;
$divider-color: color("grey", "lighten-1") !default;


@import "views/mainLayout/style";
@import "views/home/style";
@import "views/about/style";
@import "views/notFound/style";
@import "views/allProjects/style";
@import "views/project/style";
@import "views/contact/style";
@import "views/gallery/style";
@import "views/articles/style";


.section.my-divider {
	border-top: 1px solid $divider-color;
}

a.amber-link {
	color: $accent-color !important;
	&:hover {
		color: color("amber", "lighten-3") !important;
	}
}

h1 {
	font-size: 2.92rem;
	margin: 1.94667rem 0 1.168rem 0;
}
h2 {
	font-size: 1.64rem;
	margin: 1.09333rem 0 0.656rem 0;
}